!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js", :type => "text/javascript"}
    %title Scrumform
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    = render :partial => 'flash_messages', :flash => flash
    .container
      - if notice
        .alert.alert-info= notice
      - if alert
        .alert.alert-warning= alert
      = yield